---
name: Release test

on:
  workflow_call:

env:
  fail-fast: true

permissions:
  contents: write
  issues: write

jobs:
  # Only for testing of the release environment.
  semantic:
    name: Semantic-Release-Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install @semantic-release/changelog @semantic-release/git @semantic-release/changelog @semantic-release/commit-analyzer @semantic-release/exec @semantic-release/git semantic-release/release-notes-generator

      - name: Release (Dry-Run)
        run: npx semantic-release --debug --dry-run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
