---
name: Release version

on:
  workflow_call:

env:
  fail-fast: true

permissions:
  contents: write
  issues: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    outputs:
      app_version: ${{ steps.step1.outputs.app_version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install @semantic-release/changelog @semantic-release/git @semantic-release/changelog @semantic-release/commit-analyzer @semantic-release/exec @semantic-release/git semantic-release/release-notes-generator

      - name: Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
